body {
    background-color: rgb(255, 222, 183);
    margin: 0;
}

.container {
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    gap: 5vw;
    font-family: 'Lobster', cursive;
    font-size: 3vw;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 5vh;
    font-size: 8vw;
}

.dice {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin: 5vh 0;
}

.dice img {
    width: 20vw; /* dice images scale responsively */
    max-width: 150px; /* set a max width so they don't get too big */
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 2.5vw;
    background-color: rgb(255, 211, 158);
}
